body {
	background: #E35218;
	background: -moz-linear-gradient(top, rgba(135,40,3,1) 0%, rgba(245,73,5,1) 52%, rgba(252,158,120,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,40,3,1)), color-stop(52%, rgba(245,73,5,1)), color-stop(100%, rgba(252,158,120,1)));
	background: -webkit-linear-gradient(top, rgba(135,40,3,1) 0%, rgba(245,73,5,1) 52%, rgba(252,158,120,1) 100%);
	background: -o-linear-gradient(top, rgba(135,40,3,1) 0%, rgba(245,73,5,1) 52%, rgba(252,158,120,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,40,3,1) 0%, rgba(245,73,5,1) 52%, rgba(252,158,120,1) 100%);
	background: linear-gradient(to bottom, rgba(135,40,3,1) 0%, rgba(245,73,5,1) 52%, rgba(252,158,120,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#872803', endColorstr='#fc9e78', GradientType=0 );
	color: #666;

	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

h1, h2 {
	text-align: center;
	font-family: 'Arvo', Georgia, Times, serif;

}

h1 {
	margin: 0;
	padding: 10px 20px;
	background: #eee;
	border-bottom: 1px solid #666;
}

h2 {
	background: #fff;
	margin: 0;
	padding: 10px 20px;
	border-top: 1px solid #666;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	height: 50px;
	line-height: 40px;
	padding: 0px 25px;
	/*text-align: center;*/

	background: #eee;
	color: #666;

}

li:nth-child(2n) {
	background: #ddd;
}

form {
	margin: 25px;
}

.form-control:focus {
	border: 2px solid #67CA15;
}

.fa {
	font-size: 1em;
}

.fa-coffee, .fa-usd, #outputSpent {
	color: #E35218;
}


.container-fluid {
	background: #ddd;
}

.btn {
	/*font-family: 'Arvo', Georgia, Times, serif;*/
}

.btn-default {
	width: 100%;
	background: #67CA15;
	color: #fff;
}

.btn-default:hover, .btn-default:active, .btn-default:target, .btn-default:focus {
	background: #83D53F;
	color: #eee;
	border: 1px solid #67CA15;
}

.btn-danger {
	width: 100%;
	background: #B23B0B;
	color: #fff;
	border: none;
	border-radius: 0;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:target, .btn-danger:focus {
	background: #E35218;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.habitCost {
	color: #E35218;
	font-size: 1.5em;
	float: right;
}