h1 {
	text-align: center;
	font-size: 3em;
}

label {
	font-size: 1.5em;
}

.col-lg-6 {
	margin: 100px auto;
}

.btn {
	width: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}